.cnt{
  background-color: grey;
  padding : 15px;
  border-radius : 5px;
  width : 500px;
  height : 600px;
}

.txt{
  position : relative;
  padding : 10px;
  width : 90%;
  background-color: #fdd238a3;
  border-color: #aaffbb;
  border-radius : 5px;
}

.btns{
  margin-top : 25px;
  position : relative;
  margin-bottom : 25px;
}

.add_txt{
  height : 20px;
  width: 100px;
  background: blue;
  color: white;
  text-align: center;
  cursor: pointer;
}

.show_txt{
  height : 20px;
  width: 100px;
  background: red;
  color: white;
  text-align: center;
  cursor: pointer;
}

.done_txt{
  height : 20px;
  width: 100px;
  background: yellow;
  color: black;
  text-align: center;
  cursor: pointer;
}

.hide_txt{
  height : 20px;
  width: 100px;
  background: green;
  color: black;
  text-align: center;
  cursor: pointer;
}

.add_txt, .show_txt, .done_txt, .hide_txt{
  padding : 15px;
  display: inline;
}
.note{
  margin-top: 10px;
  padding: 10px;
  border-color: #0066cc;
  border-radius : 5px;
  background-color :#c1eaea;
  cursor: pointer;
}

.selected {
  background-color: green;
  border-color: darkgreen;
}



